<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icia.board.dao.ManagerDao">
	<select id="getMovieList" parameterType="int" resultType="Movie">
		<![CDATA[
			SELECT * FROM (
				SELECT /*+INDEX_DESC(MOVIE MO_NUM_PK)*/ROWNUM RN, MOVIE.*
				FROM MOVIE
				WHERE ROWNUM<=#{pageNum}*10)
			WHERE RN>=#{pageNum}*10-9
		]]>
	</select>
	
	<insert id="mregistration" parameterType="Movie">
		INSERT INTO MOVIE VALUES(M_SEQ.NEXTVAL, #{mo_title}, #{mo_day}, #{mo_perfomer}, #{mo_director}, #{mo_time}, #{mo_genre}, #{mo_country}, #{mo_grade}, #{mo_basic}, DEFAULT, #{mo_photo}, #{mo_orititle}, #{mo_role}, #{mo_personnel})
	</insert>
	
	<select id="getContents" parameterType="int" resultType="Movie">
		SELECT * FROM MOVIE WHERE MO_NUM=#{mo_num}
	</select>
	
	<delete id="deleteMovie" parameterType="string">
		DELETE FROM MOVIE WHERE MO_NUM=#{num}
	</delete>
	
</mapper>